Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [2]:
print(f"Ratio: \n{df['gender'].value_counts(normalize= True, dropna= True)}" )
print(f"\nQuantity: \n{df['gender'].value_counts(dropna= True)}" )

Ratio:
Male      0.504756
Female    0.495244
Name: gender, dtype: float64

Quantity:
Male      3555
Female    3488
Name: gender, dtype: int64

##### 2. Какое количество уникальных значений у поля InternetService?

In [4]:
df['InternetService'].nunique(axis = 0)  # Axis 0 почему не работает

TypeError: nunique() got an unexpected keyword argument 'axis'

### Вопрос: почему не работает  Axis = 0

In [5]:
df['InternetService'].nunique(dropna= True)

3

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [6]:
# df['TotalCharges'].mean() # ValueError: could not convert string to float: 

# So you have to convert the valuse to float
# First we will check the data typs for all columns

df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [7]:
# If ‘coerce’, then invalid parsing will be set as NaN
# Convert to Numeric 

df['TotalCharge'] = pd.to_numeric(df['TotalCharges'], errors ='coerce') 
df['TotalCharge'].describe()
#df['TotalCharge'].mean(),df['TotalCharge'].median(),df['TotalCharge'].std()   #Matches !

count    7032.000000
mean     2283.300441
std      2266.771362
min        18.800000
25%       401.450000
50%      1397.475000
75%      3794.737500
max      8684.800000
Name: TotalCharge, dtype: float64

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [8]:
df['PhoneService'].loc[df['PhoneService']== "Yes"] = 1    # I got a warning might be better to change it via dict method 
df['PhoneService'].loc[df['PhoneService']== "No"] = 0

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

### Вопрос: получил Warning за такой подход, если ли более безопасные подходы.

In [9]:
df['PhoneService'].value_counts()

1    6361
0     682
Name: PhoneService, dtype: int64

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [10]:
#Ваш код здесь
df['TotalCharges']= df['TotalCharges'].replace(' ', np.nan)
df['TotalCharges'] = df['TotalCharges'].astype('float')    ## just use float to convert to float32, for float64 type it out
df['TotalCharges'] = df['TotalCharges'].fillna(0)

df['TotalCharges'].describe()

count    7043.000000
mean     2279.734304
std      2266.794470
min         0.000000
25%       398.550000
50%      1394.550000
75%      3786.600000
max      8684.800000
Name: TotalCharges, dtype: float64

### Вопрос: как поминять на float32, в интернете нашел только как перевести на float64

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [11]:
df.Churn.head(5)

0     No
1     No
2    Yes
3     No
4    Yes
Name: Churn, dtype: object

In [12]:
# Different Method, no warnings
df['Churn'] = df['Churn'].map({'Yes':1, 'No':0})
df['Churn'].value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

In [13]:
df.Churn.head(5)

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

### Вопрос: данный метод не вызвал Warning, почему и какой наиболее безопасный способ для подмены ?

In [14]:
df['Churn'].map({'Yes':1, 'No':0})
df['Churn'].value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [15]:
def extractDigits(lst): 
    return [[el] for el in lst]

def value_counts_byname():
    values=[]
    for i in ['StreamingMovies','StreamingTV','TechSupport']:
        values.append(df[i].value_counts())

    lst = extractDigits(values)
    print(f'{lst[0]},\n\n{lst[1]},\n\n{lst[2]}')

value_counts_byname()

[No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64],

[No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64],

[No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64]

In [16]:
lst = ['StreamingMovies', 'StreamingTV', 'TechSupport']
for i in lst: 
    df[i] = df[i].replace({'Yes': 1, 'No': 0, 'No internet service': 0})

In [17]:
value_counts_byname()  #

[0    4311
1    2732
Name: StreamingMovies, dtype: int64],

[0    4336
1    2707
Name: StreamingTV, dtype: int64],

[0    4999
1    2044
Name: TechSupport, dtype: int64]

##### 8. Заполните пропуски в поле PhoneService значением 0

In [18]:
df['PhoneService'] = df['PhoneService'].fillna(0)

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [19]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь

df = df.loc[:,columns]
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.85,0,0,0,0
1,Male,34,1,1889.50,0,0,0,0
2,Male,2,1,108.15,0,0,0,1

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [20]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь

X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size = 0.3, random_state = 0)

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [21]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

### ВОПРОС:
    ВЫ можете на уроке по подробнее объснить что делает OHHENCORDER def fit и def transform по каждой строке

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [22]:
gender.fit_transform(X_train)

      gender_Female  gender_Male
3580              1            0
2364              0            1
6813              1            0
789               0            1
561               0            1
...             ...          ...
4931              0            1
3264              1            0
1653              0            1
2607              0            1
2732              1            0

[4930 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [23]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [24]:
from sklearn.preprocessing import StandardScaler

TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [25]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [26]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [27]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('features',
                 FeatureUnion(n_jobs=None,
                              transformer_list=[('tenure',
                                                 Pipeline(memory=None,
                                                          steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler(copy=True,
                                                                                 with_mean=True,
                                                                                 with_std=True))],
                                                          verbose=False)),
                                                ('TotalCharges',
                                                 Pipeline(memory=None,
                                                          steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=42,
                                        verbose=0, warm_start=False))],
         verbose=False)

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [28]:
#Ваш код здесь
preds = pipeline.predict_proba(X_test)

In [29]:
len(X_test), len(pipeline.predict_proba(X_test))

(2113, 2113)

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [30]:
from sklearn.metrics import roc_auc_score, log_loss

#Ваш код здесь
print(f'Roc_Auc: {roc_auc_score(y_true=y_test, y_score=pipeline.predict(X_test))}')
print(f'Log_loss: {log_loss(y_true=y_test, y_pred=pipeline.predict(X_test))}')

Roc_Auc: 0.6546228033569805
Log_loss: 8.56530749757115

### ВОПРОС:
    Можно объяснить что нам здесь показывает ROC AUC и каким образом мы будем выводить порог (threshold)

### Сохраним наш пайплайн

In [32]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)

### Вопрос: в чём разница между pickle.dump и dill.dump